p, h4{
    margin: 0;
    font-weight: normal;
}

body {
    font-family:  PingFangSC-Regular, -apple-system, PingFang SC, Helvetica Neue, STHeiti, Microsoft Yahei, Tahoma, Simsun, sans-serif;
    background-color: rgb(32,149,243);
}

.container {
    width: 90%;
    margin: 2rem auto auto;
    background-color: #fff;
    border: 1px solid rgba(151,151,151,1);
    border-radius: 0.5rem;
    text-align: center;
}

.image-wrapper { 
    position: relative;
    text-align: center;
}

.image-wrapper img {
    height: 3rem;
    position: absolute;
    top: -1.5rem;
    margin-left: -1.5rem;
    border-radius: 50%;
}

.desicion {
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #4D4D4D;
    margin-top: 1.95rem;
}

.already {
    font-size: 0.6rem;
    line-height: 0.825rem;
    color: #2095F3;
    
    background: #E6F5FF;
    border-radius: 12.5rem;
    display: inline-block;
    padding: 0.25rem 0.65rem;
    position: relative;
    z-index: 10;
}

.days-wrapper {
    position: relative;
    margin-top: 1.45rem;
}

.line {
    border: 0.5px solid #E5E5E5;
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 14.6rem;
    left: 1.1rem;
}

.quotation {
    font-family: Arial-Black;
    font-size: 2rem;
    color: #E5E5E5;
    text-align: left;
    margin-left: 0.875rem;
}

.quotation-bottom {
    text-align: right;
    margin-right: 0.825rem;
    margin-bottom: 0.75rem;
}

.description {
    font-size: 0.9rem;
    line-height: 1.25rem;
    color: #4D4D4D;
    width: 13.875rem;
    margin: -0.25rem auto 0;
    text-align: left;

}

.daily-img img{
    margin-top: 1rem;
    height: 6.225rem;
    width: auto;
}

.footer {
    width: 100%;
    position:fixed;
    height: 3.95rem;
    bottom: 0;
    left: 0;
    background: #005FAC;
    background-color: rgba(0,95,172);
    border-top: 1px solid #979797;
    border-radius: 1px;
}

.footer div {
    float: left;
    color: white;
}

.footer .logo-wrapper {
    margin-left: 1.025rem;
    margin-top: 0.575rem;
    height:2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border-radius: 0.4rem;
}

.footer img {
    height: 2.5rem
}

.footer .text {
    margin-left: 0.76rem;
    margin-top: 0.76rem;
    font-size: 0.9rem;
}

.footer h4 {
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
    font-size: 0.9rem;
    line-height: 1.25rem;
}

.footer p {
    font-size: 0.7rem;
    line-height: 1rem;
}

.download-btn {
    display: block;
    float: right;
    background: #FFDF31;
    border: 1px solid #979797;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    width: 5rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.85rem;
    text-align: center;
    margin-top: 1.025rem;
    margin-right: 0.85rem;
}
